:root {
    --primary-color: #00008B;
    --secondary-color: #ffffff;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color)
}

body {
  font-family: Helvetica, sans-serif;
  color: var(--secondary-color);
  line-height: 1.5;
}

h1 {
  font-weight: 200;
  line-height: 1.2;
  margin: 12px 0;
}

/*img {
  width: 100%;
}
*/

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 65px;
  position: sticky; 
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--secondary-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border: 2px #ffffff solid;
  background-color: #ffffff;
  color: var(--primary-color);
}


/* Index Page */

  .indexteam .grid {
    max-width: 960px;
    grid-template-columns: 600px 1fr;
    overflow: auto;
  }

  .indexheading {
    max-width: 960px;
    margin: auto;
    font-size: 50px;
  }

  .indexbody {
    margin: auto;
    text-align: center;
    font-size: larger;
    align-items: center;
  }

  .indexbody .grid {
    max-width: 960px;
    grid-template-columns: 200px 1fr;
    overflow: auto;
  }

/* Data Dashboard */

.dataheading {
  max-width: 960px;
  margin: auto;
  font-size: 50px;
}

.dataintro {
  margin: auto;
  text-align: center;
  align-items: center;
}

.dataintro a {
  text-decoration: underline;
}

.dataintro a:hover {
  color: black;
  background-color: #ffffff;
}

.datavisuals .grid {
  max-width: 1700px;
  grid-template-columns: 2, 2fr;
  overflow: auto;
  column-gap: 100px;
}

.datatext {
  margin: auto;
  text-align: center;
  font-size: larger;
  align-items: center;
  color: black;
}

/* Contact Page */

.contactheading {
  max-width: 960px;
  margin: auto;
  font-size: 50px;
  align-items: center;
}

.contactbody {
  margin: auto;
  text-align: center;
  font-size: 40px;
  align-items: center;
}

.contactintro {
  margin: auto;
  text-align: center;
  align-items: center;
}

.form
{
  margin-top: 60px;
  transition: all 4s ease-in-out;
  margin: 0;
  padding: 0;
  text-align: center;
}

.form-control
{
  width: 450px; 
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid gray;
  color: black;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 0px;
  align-items: center;
}

.input
{
  height: 45px;
}

form .submit
{
  background: #8080f8;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 9px;
  height: 50px;
  margin-top: 20px;
  align-items: center;
  border-radius: 20px;
}

form .submit:hover
{
  background-color: #6565fb;
  cursor: pointer;
}

/* Log in Page*/

.class1{
  height: 100%;
  width: 100%;
  background-color: #00008B;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box{
  width: 380px;
  height: 480px;
  position:relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
  overflow: hidden;
}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow:0 0 20px 9px #00008B;
  border-radius: 30px;
}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #7d7df5;
  border-radius: 30px;
  transition: .5s;

}
.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #7d7df5;
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box{
  margin: 30px 10px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#Login{
  left: 50px;
}
#Register{
  left: 450px;
}

/* Footer */ 

  .footer {
    color: var(--secondary-color);    
    font-size: medium;
    text-align: center;
    justify-content: center;
    height: 60px;
    align-items: center;
    bottom: 0;
  }

  .footer .flex {
    justify-content: space-between;
  }

  .footer ul {
    display: flex;
  }
  
  .footer a {
    color: var(--secondary-color);
    padding: 10px;
    margin: 0 5px;
  }
  
  .footer a:hover {
    border: 2px #ffffff solid;
    background-color: #ffffff;
    color: var(--primary-color);
  }
