/* html {
  background-color: var(--primary-color);
} */

.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 50px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: #00008B;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: groove;
  border-radius: 5px;
}

.btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transform: scale(1.1);
}

/* Text */

.textcenter {
  text-align: center;
}

/* Margin - For Adding Margins to Sections */

.my-20 {
  margin: 20px 0;
}

.my-40 {
  margin: 40px 0;
}

.my-60 {
  margin: 60px 0;
}

.my-indexbody{
  margin: 60px 0 0 0;
}

.my-index{
  margin: 106px 0 0 0;
}

/* Padding - For Adding Padding to Sections */

.pd-0 {
  padding: 0;
}

.pd-10 {
  padding: 10px;
}

.pd-20 {
  padding: 20px;
}

.pd-30 {
  padding: 30px;
}

.pd-50 {
  padding: 50px;
}

.pd-100 {
  padding: 100px;
}

.py-5 {
  padding: 4rem 0;
}